annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
assemblyai==0.41.1
certifi==2025.4.26
charset-normalizer==3.4.2
cohere==5.15.0
dj-database-url==3.0.0
Django==5.2.2
exceptiongroup==1.3.0
fastavro==1.11.1
filelock==3.18.0
fsspec==2025.5.1
gunicorn==23.0.0
h11==0.16.0
hf-xet==1.1.3
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.32.4
idna==3.10
packaging==25.0
psycopg2-binary==2.9.10
pydantic==2.11.5
pydantic_core==2.33.2
python-decouple==3.8
PyYAML==6.0.2
requests==2.32.4
sniffio==1.3.1
sqlparse==0.5.3
tokenizers==0.21.1
tqdm==4.67.1
types-requests==2.32.0.20250602
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.4.0
websockets==15.0.1
whitenoise==6.9.0
yt-dlp==2025.6.9
