<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'dist/css/output.css' %}">
</head>

<body class="bg-grat-100 font-sans antialiased">
    <nav class="bg-black p-4 text-white">
        <div class="flex flex-col md:flex-row justify-between items-center gap-2">
            <h1 class="text-2xl md:text-3xl font-bold text-center md:text-left">AI Blog Generator</h1>
            
            <div class="text-sm md:text-base">
                <a href="/" class="text-white hover:underline mx-4">Welcome {{user.username}}</a>
                <a href="/blog-list" class="text-white hover:underline mx-4">Saved Blog Posts</a>
                <a href="/logout" class="text-white hover:underline">Logout</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <h1>{{blog_article_details}}</h1>
            {% comment %} {% for a in blog_article_details %}
            <h1>{{a.youtube_title}}</h1>
            {% endfor %} {% endcomment %}
            <section>
                <h2 class="text-xl mb-4 font-semibold">Blog Post Details</h2>
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">{{blog_article_details.youtube_title}}</h3>
                    <p class="text-gray-700">{{blog_article_details.generated_content}}</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg font-semibold">Youtube Title</h4>
                    <p class="text-gray-700">{{blog_article_details.youtube_title}}</p>
                    <h4 class="text-lg font-semibold mt-4">Youtube Link</h4>
                    <a href="{{blog_article_details.youtube_link}}" target="_blank" 
                        class="text-blue-600 hover:underline">{{blog_article_details.youtube_link}}</a>
                    <h4 class="text-lg font-semibold">You created this on </h4>
                    <p class="text-gray-700">{{blog_article_details.created_at}}</p>
                </div>
            </section>
        </div>
    </div>

    <footer class="text-center p-4 text-blacl mt-6">
        Powered by <a href="https://www.youtube.com/codewithtomi">Code With Saii</a>
    </footer>
</body>

</html>